{% extends 'base.html' %}

{% block content %}
<h1>HOME</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, delectus provident? Eum illo quam vel modi repudiandae cupiditate veniam eaque consequatur aspernatur. Corrupti illo harum culpa saepe unde ullam at, accusamus laboriosam nulla esse molestiae labore eos et sit dicta in voluptas vel amet recusandae corporis delectus, dolores alias. Voluptate, doloremque accusamus porro aliquam veritatis dignissimos nihil officia quisquam a repellendus magnam, nobis excepturi commodi ab expedita minima obcaecati! Ab est ratione ut, animi eos aut recusandae quasi corporis, doloremque architecto id, consectetur alias. Suscipit cum reiciendis recusandae deserunt debitis fugiat exercitationem voluptate maiores ab consequuntur dolor doloremque, amet labore?</p>
{% endblock %}

